NEXT_PUBLIC_SUPABASE_URL=https://lqxblqllkgwujlouafpo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxeGJscWxsa2d3dWpsb3VhZnBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MzQ4ODgsImV4cCI6MjA5MDMxMDg4OH0.pAJXNYjaFJ5MRpni8leLLNl8Zx7x3hZw5D8aO2-Tdgc
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_kgfk-eY24nr9M2aNiiQsWQ_PneTmIxp
NEXT_ALLOWED_DEV_ORIGINS=http://192.168.1.34:3000
